<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="area">
      <%= form_for(@pic, :html => { :class => "form-inline"} ) do |f| %>

      <h2>New Pic</h2>
      <div class="form-group">
        <%= f.label :url %><br>
        <%= f.text_area :url, class: "form-control"  %>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :place %><br>
        <%=  f.collection_select :place_id, Place.all, :id, :place, {}, class: "form-control"%>
      </div>
      <br>
      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description,  class: "form-control"  %>
      </div>
    </br>
    <div class="form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image%>
    </div>
    <br>
    <div class="actions">
      <%= f.submit class: "btn btn-default" %>
    </div>
    <% end %>
    </div>
  </div>
<div class="col-lg-6">
<div class="area">
  <%= form_for(@place, :html => { :class => "form-inline"} ) do |f| %>
  <h2>New Place</h2>

  <div class="form-group">
    <%= f.label :country %><br>
    <%= f.text_field :country, class: "form-control" %>
  </div>
  <br>
  <div class="form-group">
    <%= f.label :place %><br>
    <%= f.text_field :place, class: "form-control" %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
  <% end %>
  </div>
</div>
</div>
</div>
