<!DOCTYPE html>
<html>
<head>
  <title>Happy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id = "head">
<div id = "header">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
Oh hello there, good to see you <%=link_to current_user.email, edit_user_registration_path%>
<%= link_to "log me out", destroy_user_session_path, method: :delete %>

<% else %>
<%= link_to "log me in", new_user_session_path %> |
<%= link_to "sign me up", new_user_registration_path %>

<% end %>
<%= yield %>

</body>
</html>
