<p id="notice"><%= notice %></p>


<!-- <div>
  <div>
    <%= search_form_for @q do |f| %>
    <%= f.text_field :country_or_place_cont, :placeholder => "Search" %>
  </div>
</div>
<div class="actions text-center">
  <%= f.submit "Search", class: "button" %>
</div>
<% end %> -->

<%= link_to "So, where's made you happy recently..", new_place_path if user_signed_in? %>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Place</th>
      <th>Pics</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.country %></td>
        <td><%= place.place %></td>
        <td><% place.pics.each do |pic| %>
          <%= image_tag pic.url %>
          <% end %>
        </td>
        <td><%= link_to 'Show', place %></td>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

