<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <%= @place.country %>
</p>

<p>
  <strong></strong>
  <%= @place.place %>
</p>

<p>
  <strong></strong>
  <% @place.pics.each do |pic| %>
  <img src="<%= pic.url %>">
  <p><%= pic.description %></p>
<% end %>
</p>
<p>
<strong></strong>
<%= link_to "Like me?", like_place_path(@place), method: :put %>
<%= @place.score %>
</p>

<h2>Add a happy comment...</h2>
<%= form_for Comment.new do |f| %>
  <%= hidden_field_tag "place_id", @place.id %>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<p>
<strong></strong>
<%= @place.comment_threads.each do |ct| %>
    <%= ct.inspect %>
<% end %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
