<div class="container">
<p>
<div class="box_big panel panel-default">
<div class="panel-body">
<strong></strong>
  <%= image_tag @pic.image.url || @pic.url%>
</p>

<p>
  <strong></strong>
  <%= @pic.title %>
</p>
</div>
</div>


<!-- <p>
  <strong></strong>
  <%= @pic.user.username%>
</p>

<p>
  <strong></strong>
  <%= @pic.description %>
</p>

<p>
  <strong></strong>
  <%= link_to "Like me?", like_pic_path(@pic), method: :put %>
  <%= @pic.score %>
</p> -->

<div class="box_big panel panel-default">
<div class="panel-body">
<% if current_user == @pic.user %>
<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Delete Me?', @pic, method: :delete, data: { confirm: 'Are you sure?' } %>  |
<% end %>


<%= link_to 'Back', places_path %>
</div>
</div>
</div>