<p id="notice"><%= notice %></p>

<p>
<strong></strong>
  <%= image_tag @pic.image.url %>
  <%=image_tag @pic.url%>
</p>

<p>
  <strong></strong>
  <%= @pic.title %>
</p>ยง


<p>
  <strong></strong>
  <%= @pic.user.username%>
</p>

<p>
  <strong></strong>
  <%= @pic.description %>
</p>

<p>
  <strong></strong>
  <%= link_to "Like me?", like_pic_path(@pic), method: :put %>
  <%= @pic.score %>
</p>

<%= link_to 'Edit', edit_pic_path(@pic) %> |

<%= link_to 'Destroy', @pic, method: :delete, data: { confirm: 'Are you sure?' } %>  |


<%= link_to 'Back', pics_path %>
