<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <%= image_tag @pic.url%>
</p>

<p>
  <strong></strong>
  <%= @pic.title %>
</p>

<p>
  <strong></strong>
  <%= @pic.user.username%>
</p>

<p>
  <strong></strong>
  <%= @pic.description %>
</p>

<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Back', pics_path %>
