<p id="notice"><%= notice %></p>
<div class="container">

  <div class= "places-show">


    <div class="box_big panel panel-default">
      <div class="panel-body">
      <h1 class="show-place-pic">
          <strong></strong>
          <%= @place.place %>, 



          <strong></strong>
          <span class="show-place"><%= @place.country %></span>..
        </h1>
      </div>
    </div>

    <p>
      <strong></strong>
      <% @place.pics.each do |pic| %>
      <div class="box_big panel panel-default">
        <div class="panel-body">
          <% if !pic.url.blank?%>
          <%=link_to image_tag(pic.url), pic%>
          <% elsif !pic.image.url.blank? %>
          <%=link_to image_tag(pic.image.url), pic %>
          <% end %>

          <h4><%= pic.description %></h4>
          <p>Posted by <%= pic.user.username %></p>
        </div>
      </div>
      <% end %>
    </p>

<!-- <p>
  <strong></strong>
  <% @place.pics.each do |pic| %>
  <div class="box_big panel panel-default">
    <div class="panel-body">
      <% if !pic.url.blank?%>
      <%=image_tag(pic.url) %>
      <% elsif !pic.image.url.blank? %>
      <%= image_tag(pic.image.url) %>
      <% end %>
    </div>
  </div>
  <h4><%= pic.description %></h4>
  <p>Posted by <%= pic.user.username %></p>
  <% end %>
</p>
<p>
-->
<div class="box_big panel panel-default">
 <div class="panel-body">
  <h2>
   <%= link_to 'ADD A HAPPY PICCY ...', new_pic_path if user_signed_in? %>
 </h2>
</div>
</div>

<div class="box_big panel panel-default">
  <div class="panel-body">
    <p>
      <strong></strong>
      <%= link_to "Like me?", like_place_path(@place), method: :put %>
      <%= @place.score %>
    </p>


    <%= form_for Comment.new do |f| %>
    <%= hidden_field_tag "place_id", @place.id %>
    <div class="field">

      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>

    <p>
      <strong></strong>
      <% @place.comment_threads.each do |ct| %>
      <h4><%= ct.user.username %></h4>
      <p><%= ct.body %></p>
      <% end %>
    </p>

  </div>
</div>
<div class="box_big panel panel-default">
  <div class="panel-body">
    <%= link_to 'Edit', edit_place_path(@place) %> |
    <%= link_to 'Back', places_path %> |
    <%= link_to 'Delete me?', @place, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
</div>
</div>
