<!DOCTYPE html>
<html>
<head>
  <title>Happy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>

<% if controller.controller_name != "pages" %>
  <%= render "navbar" %>
<% end %>
</div>

<!-- 
<div class="container" style="margin-top:-20px;"> -->
<!-- 
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
 -->

<%= yield %>
<!-- </div> -->
</body>
</html>
